In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.utils import shuffle
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
true_news = pd.read_csv('True.csv')
fake_news = pd.read_csv('Fake.csv')

In [5]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
true_news.insert(4, "Label", "true", True)
true_news.head()

,title,text,subject,date,Label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

In [7]:
fake_news.insert(4, "Label", "fake", True)
fake_news.head()

,title,text,subject,date,Label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [8]:
everything_data = true_news.append(fake_news)
everything_data.head()

,title,text,subject,date,Label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

In [9]:
everything_data = shuffle(everything_data)
everything_data.head()

,title,text,subject,date,Label
11329,ONE HILARIOUS TWEET Perfectly Sums Up How Irre...,Nunes dropped a bombshell that Obama admin spi...,politics,"Mar 23, 2017",fake
2923,"Trump tweets mock video of himself tackling, p...","BRIDGEWATER, N.J. (Reuters) - President Donal...",politicsNews,"July 2, 2017",true
15347,UPDATE ON BEATING OF WHITE COP: BLACK MAN STEA...,UPDATE: AND SO IT BEGINS A police officer hold...,politics,"Aug 9, 2015",fake
9919,Immigrants in limbo as U.S. top court weighs O...,BALTIMORE (Reuters) - In the port city of Balt...,politicsNews,"April 15, 2016",true
16406,BREAKING: MORE HACKED E-MAILS From DNC Release...,It s not the first time that the name of Vladi...,Government News,"Sep 13, 2016",fake

In [10]:
everything_data.reset_index(inplace = True, drop = True)
everything_data.head()

,title,text,subject,date,Label
0,ONE HILARIOUS TWEET Perfectly Sums Up How Irre...,Nunes dropped a bombshell that Obama admin spi...,politics,"Mar 23, 2017",fake
1,"Trump tweets mock video of himself tackling, p...","BRIDGEWATER, N.J. (Reuters) - President Donal...",politicsNews,"July 2, 2017",true
2,UPDATE ON BEATING OF WHITE COP: BLACK MAN STEA...,UPDATE: AND SO IT BEGINS A police officer hold...,politics,"Aug 9, 2015",fake
3,Immigrants in limbo as U.S. top court weighs O...,BALTIMORE (Reuters) - In the port city of Balt...,politicsNews,"April 15, 2016",true
4,BREAKING: MORE HACKED E-MAILS From DNC Release...,It s not the first time that the name of Vladi...,Government News,"Sep 13, 2016",fake

In [11]:
from sklearn.feature_extraction import text
corpus = everything_data['text']
vectorizer = text.CountVectorizer(binary=True).fit(corpus)
vectorized_text = vectorizer.transform(corpus)

In [12]:
TfidF = text.TfidfTransformer(norm='l1')
tfidf = TfidF.fit_transform(vectorized_text)

In [13]:
from sklearn.svm import LinearSVC
labels = everything_data.Label
features = tfidf
model = LinearSVC()
X_train, X_test, y_train, y_test= train_test_split(features, labels, test_size=0.33, random_state=0)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [17]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

[[7518  182]
 [ 298 6819]]
0.9676047782952014